<section class="layout">
  <div class="header"><app-navbar /></div>
  <div class="leftSide"><app-aside class="" /></div>
  <div class="body">
    <section class="w-full h-full flex justify-center items-center">
      <div #container class="container">
        <div class="slot a" data-swapy-slot="1">
          <div class="item c" data-swapy-item="c">
            <apx-chart
              [series]="chartOptions.series"
              [chart]="chartOptions.chart"
              [xaxis]="chartOptions.xaxis"
              [dataLabels]="chartOptions.dataLabels"
              [grid]="chartOptions.grid"
              [stroke]="chartOptions.stroke"
              [title]="chartOptions.title"
              class="w-full h-full"
            ></apx-chart>
          </div>
        </div>
        <div class="second-row">
          <div class="slot b" data-swapy-slot="2"></div>
          <div class="slot c" data-swapy-slot="3"></div>
        </div>
        <div class="slot d" data-swapy-slot="4">
          <div class="item d bg-dark/60" data-swapy-item="d">
            <div>D</div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
